* {
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main-cont {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
}